[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bqror"]
	path = bqror
	url = https://github.com/prajual/bqror
	shallow = true
	registered = true
